@font-face {
    font-family: "Bahnschrift";
    src: url("/fonts/BAHNSCHRIFT.TTF") format("ttf");
}

body {
    background-image: url('img/wallpaper.jpg');
    background-color: #0B5F83;
    font-family: Bahnschrift;
}


h1 {
    text-align: center;
    color: black;
    /* font-family: ; */
    
}

ul {
    padding-left: 0px;
}

li {
    list-style-type : none;
    line-height: 30px;
}

.champs {

    text-align: center;
    color: black;
    font-size: 20px;
}

.align-center {
    width: 700px;
    height: 380px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    text-align: center;
    border-style: solid; 
    border-width: thin; 
    border-color: #FFFFFF;
    border-radius: 30px;
    background-color: white;
    border-width: 0px;
}

input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    border-color: black;
}

input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}


.margin {
    margin-left: 54px;
}
.text-margin {
    margin-left: 20px;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    text-align: center;
}

input[type=submit]:hover {
    background-color: #0B5F83;
}
input[type=submit]:active {
    background-color: #0B5F83;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


input[type=button] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    text-align: center;
}

input[type=button]:hover {
    background-color: #0B5F83;
}

input[type=button]:active {
    background-color: #0B5F83;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.registerText {
    text-align: center;
}

.registerPassword {
    text-align: center;
}

.marginTop {
    margin-top: 60px;
}