@font-face {
    font-family: "Bahnschrift";
    src: url("/fonts/BAHNSCHRIFT.TTF") format("ttf");
   }

body {
    background-color: #0B5F83;
    font-family: "Bahnschrift";
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

video {
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.5s;
}

video:hover {
    cursor: pointer;
    height: 220;
    width: 387;
}

form {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: "Bahnschrift";
    margin-top: 50px;
    padding: 0.25em 0.5em;
    background-color: #fff;
    border: 2px solid var(--input-border);
    border-radius: 4px;
    border-color: black;
    margin-top: 60px;
}

input:not(textarea) {
    line-height: 1;
    height: 2.25rem;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    text-align: center;
}

input[type=submit]:hover {
    background-color: #3490ce;
}
input[type=submit]:active {
    background-color: #3490ce;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input[type=file] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    text-align: center;
}

input[type=file]:hover {
    background-color: #3490ce;
}
input[type=file]:active {
    background-color: #3490ce;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input[type=button] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    text-align: center;
}

input[type=button]:hover {
    background-color: #3490ce;
}
input[type=button]:active {
    background-color: #3490ce;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}